<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="achadaga.stockportfolio.app.App" />
    <module name="stockportfolio" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="achadaga.stockportfolio.app.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>